<section class="categories" style="    margin-top: 5%;">
    <div class="container">
        <div class="row">
             <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="../assets/common/img/banner/banner-1.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="../assets/common/img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->
        </div>
    </div>
</section>