/* 
@import      "../src/common/bootstrap.min.css"; */
@import      "../src/assets/common/style.css";

:root {
    --white100: #FFFFFF;
    --black100: #000000;
    --red100: #FC2525;
    --input-background-gray: #F2F3F4;
    --brand-color-green: #7fad39;
    --login-input-padding-x: 1.5rem;
    --login-input-padding-y: .75rem;
  }